{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}Registrar nueva Persona{% endblock %}

{% block content %}

    <form method="POST"  class="modal-body">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="glyphicon glyphicon-floppy-saved btn btn-success btn-sm">&nbsp;Guardar</button>
        <a href="{% url 'account:persona_list' %}" class="glyphicon glyphicon-ban-circle btn btn-warning btn-sm">&nbsp;Cancelar</a>
    </form>

{% endblock content %}