{% extends "base.html" %}

{% block title %}Lista de Socios{% endblock %}
{% block titleheader %}Lista de Socios{% endblock titleheader %}

{% block content %}

<div style="margin-bottom: 1em;">
    <a class="btn btn-success" href="{% url 'acopio:acopio_add' %}">
        <i class="fa fa-plus-circle fa-lg"></i>&nbsp; Nuevo Acopio
    </a>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr class="success">
                <th class="text-center">N°</th>
                <th class="text-center">Proveedor</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Total a Pagar</th>
                <th class="text-center">Pagado?</th>
                <th class="btn-actions col-blocked text-center">Acciónes</th>
            </tr>
        </thead>
        <tbody>
            {% for d in object_list %}
            <tr>
                <td>{{ d.id }}</td>
                <td>{{ d.acopio.socio.persona.first_name }}</td>
                <td>{{ d.acopio.fech_acopio }}</td>
                <td>{{ d.kilos }}</td>
                <td>{{ d.precio_uni }}</td>
                <td>{{ d.total_pagar }}</td>
                <td>{{ d.acopio.estado }}</td>
<!--    socio
fech_acopio
estado
n_ticket
                parcela
acopio
kilos
precio_uni
total_pagar-->
                <td>
                    <a class="btn btn-info btn-sm" href="#"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i>&nbsp; Edit</a>
                    <a class="btn btn-danger btn-sm text-bold" href=""><i class="fa fa-trash fa-lg" aria-hidden="true"></i>&nbsp; Anular</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}
    
{% endblock %}