h1 {
    color: fff;
}

.skin-blue .main-header .navbar, .skin-blue .main-header .logo {
    background-color: DarkCyan;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: DarkCyan;
}

.color {
    padding-left: 5px;
}
