{% extends 'base.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <h3>¿Desea eliminar el socio <b>"{{ object.persona.first_name }} {{ object.persona.last_name }}"</b>?</h3> 
        <button class="btn btn-danger" type="submit"><i class="fa fa-check fa-lg" aria-hidden="true"></i>&nbsp;Sí, eliminar</button>
        <a class= "btn btn-warning" href="{% url 'acopio:socio_list' %}"><i class="fa fa-ban fa-lg" aria-hidden="true"></i>&nbsp;Cancelar</a>
    </form>
{% endblock %}