{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Registrar nuevo Pago de Perosonal{% endblock %}
{% block titleheader %}Registro de Pago de Personal{% endblock titleheader %}

{% block content %}

    <form method="POST"  class="modal-body">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i>&nbsp;Guardar</button>
        <a href="{% url 'pagopersonal:pagopersonal_list' %}" class="btn btn-warning btn-sm"><i class="fa fa-ban fa-lg" aria-hidden="true"></i>&nbsp;Cancelar</a>
    </form>
    
{% endblock %}